section.settings-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 20px;

  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: var(--clr-black);

  max-width: fit-content;
}

section.settings-section h2 {
  font-size: 1.25em;
  font-weight: 600;
}

