html {
  color: var(--clr-black);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: var(--clr-accent-dark);
  background: var(--bg-gradient);
  background-attachment: fixed;
  min-height: 100vh;
}

main {
  background-color: var(--clr-white);
  min-width: min(600px, 90%);
  max-width: min(980px, 90%);
  margin: 30px auto;
  padding: 20px;

  min-height: 400px;

  box-shadow: var(--box-shadow-normal);
}

h1 {
  text-align: center;
  font-size: 1.7em;
  font-weight: 700;
  padding: 20px;
}

span.center {
  display: block;
  text-align: center;
}

.error {
  color: var(--clr-error);
}

.success {
  color: var(--clr-success);
}

.heavy {
  font-weight: 700;
}

@media (max-width: 980px) {
  :root {
    font-size: 1.5rem;
  }
}