span.login-expired-message {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--clr-error);
}

span.local-login-invitation {
  display: block;
  margin: 0 auto;
  width: fit-content;
}