nav.primary-nav-wrapper {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

div.primary-nav-inner-wrapper {
  max-width: min(980px, 90%);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 10px 20px 0px 10px;

  margin: auto;
}

nav.primary-nav-wrapper ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 100%;
}

nav.primary-nav-wrapper a {
  color: var(--clr-white);
  user-select: none;
}

nav.primary-nav-wrapper a>span {
  /* padding: 5px; */
}

nav.primary-nav-wrapper a.active {
  /* color: var(--clr-accent-light); */
}

div.nav-link-wrapper {
  display: flex;
  flex-direction: column;
}

div.nav-link-wrapper>span {
  padding-bottom: 5px;
}

div.nav-link-wrapper::after {
  content: '';
}

nav.primary-nav-wrapper a.active>div.nav-link-wrapper::after {
  background: var(--bg-gradient);
  background-attachment: fixed;
  height: 5px;
}

nav.primary-nav-wrapper a:hover, nav.primary-nav-wrapper a:focus {
  color: var(--clr-accent-light);
}